@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;300;400;500;600&display=swap');

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .chat-footer button {
        width: 50px !important;
    }
}

body {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.nav-item:hover {
    background-color: #e9e9e9;
    border-radius: 4px;
}

img{
    object-fit: cover;
}

/*.chat-section {
    height: 79vh;
    max-height: 99vh;
    overflow-y: auto;
}*/

.input-group {
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form-control {
    border: none;
    padding: 0.75rem 1.5rem;
}

    .form-control:focus {
        box-shadow: none;
    }
main {
    background-color: #1278a7;
    color: #fff;
    padding: 10px;
    min-height: 99vh;
}

.main-section{
    max-height:99vh;
}
.chat-section{
    background-color: #fff;
    color: #000;
}
.chat-body {
    max-height: 70vh;
    overflow-y: auto;
    min-height: 60vh;
}

.status-indicator-online {
    width: 10px;
    height: 10px;
    background-color: #2ecc71;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.status-indicator-offline {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.message{
    width: fit-content;
    border-radius: 7px;
    color: #fff;
}

/*.chat-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
}*/
.chat-footer button{
    width: 40px;
    text-align: justify;
}