@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row justify-content-center text-center my-3">
    <div class="col-md-8">
        <p class="fw-bold fs-4 mb-2">Privacy Policy</p>
        <p>Last updated: Last updated: March 04, 2025</p>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-8 text-start">
                <p class="fw-bold mb-2">What Data We Collect</p>
                <ul>
                    <li>We only collect your location (not stored permanently).</li>
                    <li>We use cookies/local storage for session tracking.</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-start">
                <p class="fw-bold mb-2">How We Use Your Data</p>
                <ul>
                    <li>Your location is used to match you with nearby users. No chat logs are stored.</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-start">
                <p class="fw-bold mb-2">Cookies & Storage</p>
                <ul>
                    <li>We use local storage for location preferences and cookies for temporary sessions.</li>
                </ul>
            </div>
        </div>
    </div>
</div>